@media only screen and (max-width: 100vh) {
 *{
    font-family: Roboto;
 }
     .secondary {
      width: 35vh;
      height: 80vh;
      overflow: hidden;
      scroll-behavior: smooth;
      overflow-y: scroll;
    
    }
    .secondary::-webkit-scrollbar{
        display: none;
    }
    .icon{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    #i{
        width: 30px;
    }
    .topic{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .t{
        font-size: 20px;
        color: aliceblue;
        text-decoration: underline;
        text-underline-offset: 3px;
        
    }
    .img1{
        background-color: aliceblue;
        border-radius: 50px;
        padding: 2px;
    }
   .logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
   }
   .line{
    margin-top: 5px;
    margin-bottom: 3px;
   }
   #tit{
    font-size: 30px;
    color: white;
     padding-top: 5px;
   }
   #techimg{
    width: 40px;
   }
   .prohead{
    font-size: 16px;
    padding-left: 8px;
    display: flex;
    margin-top: 8px;
    margin-bottom: 5px;
    color: aliceblue;
   }
   .desc{
    padding: 5px;
    font-size: 15px;
    color: aliceblue;
   }
   .link{
    width: 20px;
   }
   .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
   }
   .if{
    width: 35vh;
    border-radius: 40px;
    border: 1px solid white;
    background-color: aquamarine;
    height:6px;
    padding:2px:
   }
   .if1{
    width: 35vh;
    height: 120px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: aquamarine;
    height:10px;
    padding:3px;
   }
    .sbtn{
        padding: 3px;
        border-radius: 4px;
        border: 1px solid white;
        background-color: rgb(123, 209, 180);
    }
    .sbtnlogo{
        display: none;
  }
 .if::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: black;
  text-align:center;
}
 .if1::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: black;
  text-align:center;
}
 .sbtn::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: black;
  text-align:center;
}
.otherskill{
    height: 100%;
    width: 100%;
}
.li{
    color: aliceblue;
    text-align: center;
}
}
